.story {

 

  &__pictures {
    @media only screen and(max-width:$bp-large) {
      // grid-column: full-start/col-end 6;
      // grid-row: 4/5;
      
    }
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1/-1;
      // grid-row: 6/7;
      padding: 6rem;
    }
    background-color: $color-primary;
    // grid-row: 4/5;
    grid-column: full-start/col-end 4;
    // Делаем бэк картинку с помощью css
    //  C помощью градиента один цветом затемним картинку
    background-image: linear-gradient(rgba($color-primary,.5),rgba($color-primary,.5)), url(../img/back.jpg) ;
    // background-size: cover;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
//С помощью центрирования картинку будет ровно вертикально по центру(а не занимать полностью строку
align-items: center;

    //Мы не прям по клеткам ставим покрывая картинку, а по ее ширинею Длина выставится автоматически.

    .story__img {
      // position: relative;
      // display: block;
      // object-fit: cover;
      // &--1 {
      //   width: 100%;
      //   grid-row: 1/-1;
      //   grid-column: 1/-1;
      //   filter: opacity(0.5);
      // }
     
      &--1 {
        width: 100%;
        grid-row: 2/6;
        grid-column: 2/6;
        // z-index: 2;
        box-shadow: 0 2rem 5rem rgba(#000,.1);
        @media only screen and (max-width: $bp-medium) {
          grid-column: 1/5;
          grid-row: 1/-1;
          // width: auto;
        }
      }
      &--2 {
        // Чтобы картинка вышла за рамки увеличиим ее размер в отличи от других
        width: 115%;
        height: 115%;
        grid-row: 4/6;
        grid-column: 4/7;
        z-index: 3;
        box-shadow: 0 2rem 5rem rgba(#000,.2);
        @media only screen and (max-width: $bp-medium) {
          width: 100%;
          grid-row: 1/-1;
        }
      }
    }
  }
  &__content {
    @media only screen and(max-width:$bp-large) {
      grid-row: 4/5;
    }
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1/-1;
      grid-row: 5/6;
    }
    background-color: $color-grey-light-1;
    // grid-row: 3/4;
    grid-column: col-start 5 / full-end;

    padding: 6rem 8vw;

    //Но у грида займет всего три строчки
    // display: grid;
    // align-items: center;
    // justify-items: start;

    //Тут лучше подойдет flexbox так как всего одно направление
    display: flex;
    flex-direction: column;
    justify-content: center;
    // ЧТобы кнопка не растягивалась поменяем значение
    align-items: flex-start;
    .story-text {
      font-size: 1.5rem;
      font-style: italic;
      margin-bottom: 4rem;
    }

    //     .heading-3 {
    // //Свойства заголовков прописаны в типографии
    //     }

    // Кнопку пропием в типографии так как много где используется
  }
}
